@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Nunito";
    src: url("/public/fonts/Nunito-VariableFont_wght.ttf") format("truetype");
    font-weight: 400; /* Regular */
    font-style: normal; /* Normal */
}

@font-face {
    font-family: "SegoeUI";
    src: url("/public/fonts/Nunito-VariableFont_wght.ttf") format("truetype");
    font-weight: 400; /* Regular */
    font-style: normal; /* Normal */
}

@font-face {
    font-family: "SegoeUIBold";
    src: url("/public/fonts/Segoe UI Bold.ttf") format("truetype");
    font-weight: 400; /* Regular */
    font-style: normal; /* Normal */
}
